* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--orange: #ED7232;
	--black: #202020;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* regola per fissare la barra di navigazione */
nav {
	background-color: var(--orange);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1001;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* contenitore per margini */
.max-container{
	max-width: 1200px;
	margin: auto;
}

.main-container {
	max-width: 1200px;
	margin: 90px auto;
}

ul {
	list-style: none;
	gap: 20px;
}

a {
	color: white;
	font-size: 18px;
	text-decoration: none;
}

i {
	color: white;
}

.logo {
	width: 150px;
}

.logo img {
	width: 150px;
}

/* footer */
footer {
	background-color: var(--black);
	color: white;

}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
}

/* flex utility */

.d-flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
	align-content: center;
}

.padding {
	padding: 15px;
}

/* card */

.main-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 1200px;
}

.card {
	position: relative;
	cursor: pointer;
}

.main-card {
	width: calc(100% / 3 - 10px);
}

.card img {
	max-width: 100%;
}

.price {
	color: red;
}

.heart {
	position: absolute;
	right: 0px;
	top: 10px;
	width: 30px;				
	background-color: white;
	text-align: center;
	padding: 5px;
}

/* bedge */
.bedge {
	display: inline-block;
}

.red-bedge {
	background-color: red;
	color: white;
	padding: 2px;
}

.green-bedge {
	background-color: green;
	color: white;
	padding: 2px;
}

.bedge-container {
	position: absolute;
	bottom: 30px;
}

/* hover img effect */

a:hover {
	text-decoration: underline;
}

.secondary-image{
    display: none;
	max-width: 100%;
}
.main-card:hover .main-image{
    display:none;
}
.main-card:hover .secondary-image{
    display:block;
}

.heart:hover {
	color: red;
	cursor: pointer;
}